<footer id="contact"  class="bg-slate-950 border-t border-slate-900 pt-24 pb-12">
    <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-3 gap-16 mb-20">
        <div>
            <h3 class="text-2xl font-bold text-white mb-6">SAPC</h3>
            <p class="text-slate-500 text-sm leading-relaxed">Dedicated to providing reliable electrical infrastructure
                for modern industries globally.</p>
        </div>
        <div>
            <h4 class="text-orange-500 font-bold uppercase text-xs tracking-widest mb-6">Contact</h4>
            <p class="text-slate-300 text-sm mb-2"><i class="fas fa-phone mr-3 text-orange-600"></i><a
                    href="tel:9843043177">9843043177</a></p>
            <p class="text-slate-300 text-sm mb-2"><i class="fas fa-envelope mr-3 text-orange-600"></i>
                sriammanpowercontrols@gmail.com</p>
            <p class="text-slate-300 text-sm"><i class="fas fa-map-marker-alt mr-3 text-orange-600"></i> 2/4, kothukar
                Thottam, Kovai, Road, Reddipalayam, Karur, Tamil Nadu 639008</p>
        </div>
        <div class="text-center md:text-right">
            <a href="mailto:sales@sriammanpower.com"
                class="inline-block bg-white text-slate-950 px-10 py-4 rounded-full font-black hover:scale-105 transition-transform uppercase text-sm">
                Initiate Project <i class="fas fa-arrow-right ml-2"></i>
            </a>
        </div>
        <a href="tel:9843043177" class="fixed bottom-5 right-5 z-50 md:hidden
       bg-green-600 hover:bg-green-500
       text-white font-bold
       px-5 py-4 rounded-full
       shadow-lg flex items-center gap-3">

            <i class="fas fa-phone-alt text-lg"></i>
            Call Now
        </a>

    </div>
    <div class="text-center text-slate-700 text-[10px] uppercase tracking-[0.4em] border-t border-slate-900 pt-12">
        &copy; 2026 Sri Amman Power Controls. Built for Professional Excellence.
    </div>
</footer>